<% provide(:title, 'Member calendar') %>
<div class='large-info-container-no-border'>
  <h2 class='center'>Member calendar</h2>

  <div id='calendar_hook'>
    <SCRIPT src="https://www.localendar.com/public/coop213?include=Y&dynamic=Y&style=M0"></SCRIPT>
  </div>
</div>