<% provide(:title, 'Member calendar') %>
<h2 class='center'>Member calendar</h2>

<div id='calendar_hook'>
  <SCRIPT src="http://www.localendar.com/public/coop213?include=Y&dynamic=Y&style=M0"></SCRIPT>
</div>