<div class='inner-tab-group'>
  <% if current_user && current_user.admin? %>
    <span class='inner-tab'><%= link_to "Create Announcement", new_announcement_path, class: cp(new_announcement_path) %></span>
  <% end %>
</div>