# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# Ignore local images
/public/system/artworks/images/

# Development specific
/config/environments/development.rb

# ignore public images
public/system
