<li>
  <%= link_to(artist_path(artist)) do %>
    <div class='ind-artist-name'><%= artist.name %></div>
    <div class='artist-artworks'>
      <% artworks.each do |artwork| %>
        <%= image_tag artwork.image.url(:thumb) %>
      <% end %>
    </div>
  <% end %>
</li>
