<% provide(:title, 'Artists') %>
<div class='artists-list'>
  <ul class="artists">
    <% if @artists %>
      <% @artists.each do |artist| %>
        <%= render 'ind_artist', artist: artist, artworks: artist.artworks.take(4) %>
      <% end %>
    <% end %>
  </ul>
</div>