<% provide(:title, @artist.name) %>
<h2 class='center'><%= @artist.name %></h2>
<p><%= @artist.biography %></p>
<ul class="artworks">
  <% if @artworks %>
    <% @artworks.each do |artwork| %>
      <li>
        <span class="content"><%= artwork.title %></span>
        <%= image_tag artwork.image.url(:thumb) %>
      </li>
    <% end %>
  <% end %>
</ul>