<% provide(:title, @artist.name) %>
<div class='artist-page'>
  <h2 class='center text-title'>
    <%= @artist.name %>
  </h2>
  <% unless @artist.website.blank? %>
    <div class='artist-link'><%= link_to 'Artist website', @artist.website unless @artist.website.blank? %></div>
  <% end %>
  <div class='artist-biography'><%= simple_format(@artist.biography) %></div>
  <% if @artworks %>
    <div class='all-artwork'>
      <%= render 'shared/artwork_thumbs', { artist: @artist, artworks: @artworks } %>
    </div>
  <% end %>
</div>
