<div class='inner-tab-group'>
  <% if current_user && current_user.admin? %>
    <span class='inner-tab'><%= link_to "Create Event", new_event_path, class: cp(new_event_path) %></span>
  <% end %>
</div>