<% provide(:title, 'Events') %>
<div class='events-list'>
  <% @events.each do |date_group| %>
    <div class='event-group'>
      <h2 class='center maroon'><%= "#{Date::MONTHNAMES[date_group[0].month]} #{date_group[0].year}" %></h2>
      <% date_group[1].sort_by(&:event_date).each do |event| %>
        <%= render 'event_row', { event: event } %>
      <% end %>
    </div>
  <% end %>
</div>
