<% provide(:title, 'Related links') %>
<h1>Related links</h1>
<% if current_user && current_user.admin? %>
  <%= link_to "Create Link", new_link_path %>
<% end %>
<ul class="links">
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>
      <p><% link.description %></p>
    </li>
  <% end %>
</ul>