<% provide(:title, 'Related links') %>
<h2 class='center'>Related links</h2>
<%= render 'link_tabs' %>
<ul class="links">
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>
      <% if current_user && current_user.admin? %>
      | <%= link_to "delete", link, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
      <p><%= link.description %></p>
    </li>
  <% end %>
</ul>