<% provide(:title, 'Community') %>
<div class='links-list'>
  <h2 class='center maroon'>Around the community</h2>
  <div class="links">
    <% @links.each do |link| %>
      <div class='ind-link'>
        <div class='ind-link-title'>
          <%= link_to link.title, link.url %>
        </div>
        <p><%= link.description %></p>
      </div>
    <% end %>
  </div>
</div>