$grayMediumLight: #eaeaea;
$maroon: #FE8080;
$grayLighter: #eee;
$grayLight: #999;
$sans: 'Lato', sans-serif;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: $sans;
  font-size: 15px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.center-div {
  margin: 0 auto;
}

.container {
  padding-top: 30px;
}

.right-align {
  text-align: right;
}

.container-inner {
  // width: 90%;
  margin: 0 auto;
  // padding: 20px;
  padding-top: 0px;
  // margin-top: 50px;
  margin-bottom: 50px;
}

.maroon {
  color: $maroon;
}

.btn {
  border-radius: 0;
  background-color: black;
  background-image: none;
  border: none;
  color: white;
  border: none;
  font-family: $sans;
  font-size: 10pt;
  text-transform: uppercase;
  &:hover {
    background-color: #666666;
    border: none;
  }
}

img {
  display: inline-block;
}

#new_user, #new_show, #new_artwork, #new_link, #new_event {
  input, textarea, select {
    border: 1px solid black;
    border-radius: 0;
    &:focus {
      box-shadow: none;
      border: 1px solid $maroon;
      outline: none;
    }
  }
}

.text-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  letter-spacing: 1px;
  // font-weight: 900;
}

.text-italic {
  font-style: italic;
}

.text-subtitle-date {
  // padding: 0 15px 25px 15px;
  font-size: 12pt;
  // font-weight: bold;
}

.uppercase-subtitle {
  text-transform: uppercase;
  font-family: $sans;
  font-size: 10pt;
  padding-right: 10px;
  color: $maroon;
}

.uppercase-subtitle-black {
  text-transform: uppercase;
  font-family: $sans;
  font-size: 10pt;
  padding-right: 10px;
  font-weight: bold;
}

.current-show-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.current-show-row {
  padding-top: 30px;
}

.text-inset {
  padding-left: 15px;
}
.text-inset-bold {
  font-weight: bold;
}
.text-inset-title {
  // font-size: 14pt;
  font-family: $sans;
  font-weight: 800;
}

.text-subline {
  padding-top: 4px;
}

.current-show-tag {
  color: $maroon;
  text-transform: uppercase;
  font-family: $sans;
  font-size: 12pt;
}

.small-padding {
  padding: 10px;
}

.inner-tab-group {
  text-align: center;
  margin: 0 auto;
  line-height:60px;
  .inner-tab-group-shows {
    padding-top: 20px;
  }
  // margin-bottom: 20px;
  // margin-top: 20px;
}

.inner-tab {
  padding: 30px;
}

.inner-tab-large {
  text-transform: uppercase;
  font-family: $sans;
  font-size: 12pt;
}

.center-text {
  padding: 20px;
  // font-weight: bold;
}

.left {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}

.left-larger {
  float: left;
  width: 70%;
  margin-bottom: 50px;
}

.right {
  float: right;
  width: 50%;
  margin-bottom: 50px;
}

.right-event, .right-announcement {
  float: right;
  // margin-bottom: 20px;
  width:40%;
}

.right-float {
  float: right;
  margin-bottom: 50px;
}

h1 {
  text-transform: uppercase;
  font-family: $sans;
  font-size: 18pt;
}

h2 {
  text-transform: uppercase;
  font-family: $sans;
  font-size: 15px;
  font-weight: normal;
}

.current-show-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {

}

#canvas-wrap {
  padding-top: 20px;
}

.form-inner-title {
  font-size: 14pt;
  padding-bottom: 20px;
  padding-top: 20px;
}

.large-info-container {
  border-top: 1px solid $grayMediumLight;
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
  .no-announcements {
    padding-bottom: 50px;
  }
}

.large-info-container-no-border {
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.event-info, .announcement-info {
  clear: both;
  .announcement-info-right {
    float: left;
    width: 70%;
  }
  .event-picture, .announcement-picture {
    // padding: 20px;
    padding-top: 0px;
    // padding-right: 30px;
    // width: 150px;
  }
  .eventrow {
    padding-top: 10px;
  }
}

.spaced-text {
  // width: 60%;
  line-height: 22px;
  // margin: 0 auto;
  // padding-top: 10px;
  // padding-top: 10px;
}

.all-artists-artwork {
  margin-left: 10px;
  margin-bottom: 10px;
  display: relative;
  display: inline-block;
  &:hover {
    opacity: .5;
  }
  img {
    max-width: 150px;
  }
}

/* header */
.header-container {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $grayMediumLight;
  background-color: white;

  font-size: 15px;
  color: black;
  text-transform: uppercase;
  // letter-spacing: -1px;
  // padding-top: 5px;
  line-height: 1;
  font-family: $sans;

  #logo {
    margin-left: 30px;
    float: left;
    margin-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $maroon;
    &:hover {
      color: black;
    }
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
  }

  nav {
    .pull-right {
      float:right;
      margin: 0px;
      font-size: 15px;
    }
    li {
      list-style-type: none;
      float:left;
      margin-right: 40px;
      a {
        color: black;
        &:hover, &:focus {
          color: $maroon;
          background-color: none;
          background: none;
          text-decoration: none;
        }
      }
    }
  }
}

a {
  color: black;
  &:hover {
    color: $maroon;
    background-color: none;
    text-decoration: none
  }
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  li {
    a {
      &:hover, &:focus {
        background-color: none;
        background: none;
        color: $maroon;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 20px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      // border-bottom: 1px solid $grayLighter;
    }
  }
}

.user-name {
  font-weight: bold;
  font-family: $sans;
  font-size: 14pt;
  text-transform: uppercase;
}

.user-admin-tag {
  color: $maroon;
  text-transform: uppercase;
  font-family: $sans;
  font-size: 8pt;
  padding-right: 10px;
}

/* Artists index */

.artists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border-top: none;
      // border-bottom: 1px solid $grayLighter;
    }
  }
}

/* artworks */

.artworks {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.ind-artist-name {
  font-weight: bold;
  font-family: $sans;
  // font-size: 14pt;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.artist-artworks {
  text-align: center;
}

.artist-biography {
  padding: 30px;
}

.artwork-content {
  display: inline-block;
  margin: 20px;
}

.all-artwork {
  margin-top: 30px;
  text-align: center;
}

.artist-link {
  padding: 10px;
  text-align: center;
}

/* shows */

.ind-show-title, .ind-link-title, .ind-event-title {
  font-weight: bold;
  // font-family: $sans;
  font-size: 20px;
  // text-align: center;
}

.ind-show-paragraph, .ind-event-paragraph {
  margin-top: 10px;
}

.ind-show-paragraph-truncated {
  margin-top: 10px;
}

.read-more-link, .read-less-link {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10pt;
  margin-left: 10px;
}

.ind-show-text {

}

.hidden {
  display: none;
}

.shows-list, .artists-list, .links-list, .events-list {
  text-align: left;
}

.inner-content-shows, .inner-content-events {
  text-align: left;
  padding-left: 0px;
}

.column-inner {
  margin-left: 5%;
  margin-right: 5%;
}

.current-show-box {
  border: 1px solid $grayLight;
}

.column-inner-right {
  margin-right: 15%;
}

.column-inner-inner {
  width: 70%;
  margin: 0 auto;
}

ul {
  padding-left: 0px !important;
}

.shows, .events {
  margin: 0px;
  li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    // border-top: 1px solid $grayMediumLight;
    &:first-child {
      border-top: none;
    }
  }
}

.show-picture {
  display: inline-block;
  padding: 10px;
  .artwork-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.show-artwork {
  float: left;
  margin-left: 5px;
}

/* links */

.links {
  margin: 0px;
  li {
    list-style-type: none;
    padding: 20px;
    border-top: 1px solid $grayMediumLight;
    &:first-child {
      border-top: none;
    }
  }
}

.ind-link {
  width: 400px;
  margin: 0 auto;
}

.admin-options {
  clear: both;
}

.no-margin {
  margin: 0;
}

.small-margin-left {
  margin-left: 10px;
}

.admin-option {
  text-transform: uppercase;
  padding-right: 10px;
  font-family: $sans;
  font-size: 8pt;
}

.map-hook {
  display: inline-block;
  margin: 0 auto;
}

/* Alert errors */

.alert {
  border: none;
  border-radius: 0;
}

.alert-error {
  color: red;
}

/* footer */

footer {
  clear: both;
  font-size: 15px;
  // margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #999;
  height: 50px;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin-top: none !important;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.footer-information {
  float: left;
  padding: 30px;
  padding-top: 0px;
  .divider {
    border-top: 1px solid $grayMediumLight;
  }
}

.current {
  color: $maroon !important;
}

#sign-up-newsletter {
  padding-top: 20px;
}
