<% provide(:title, 'Upcoming shows') %>
<%= render 'show_tabs' %>
<ul class="shows">
  <% @upcoming_shows.each do |show| %>
   <% if show != @current_show %>
      <%= render :partial => 'ind_show_admin', :locals => { show: show, is_current_page: @is_current_page } %>
    <% end %>
  <% end %>
  <% if @upcoming_shows.size == 0 %>
    <div class='center-text center'>There are no upcoming shows at this time.</div>
  <% end %>
</ul>