<div class='onerow banner-image-wrap center'>
  <div class='col6'>
    <%= image_tag('gallery_view.jpg', class: 'banner-image-right') %>
  </div>
  <div class='col6 last one-percent-left'>
    <%= image_tag('gallery_view_3.jpg', class: 'banner-image') %>
  </div>
</div>